<!--@author: Adrian Arroyo Perez: adr.arroyo.perez@gmail.com-->
<!--Configuration: 3D map and 2D map from camera's depth using 2 cameras
	LOOK FOR @change TO CONFIGURATE THE SETUP-->

<launch>
	<arg name="rviz"       default="true" />
	<arg name="rtabmapviz" default="false" /> 

	<!-- ODOMETRY MAIN ARGUMENTS: 
        -"strategy"        : Strategy: 0=Frame-to-Map 1=Frame-to-Frame
        -"feature"         : Feature type: 0=SURF 1=SIFT 2=ORB 3=FAST/FREAK 4=FAST/BRIEF 5=GFTT/FREAK 6=GFTT/BRIEF 7=BRISK
        -"nn"              : Nearest neighbor strategy : 0=Linear, 1=FLANN_KDTREE, 2=FLANN_LSH, 3=BRUTEFORCE 
                             Set to 1 for float descriptor like SIFT/SURF                  
                             Set to 3 for binary descriptor like ORB/FREAK/BRIEF/BRISK  
        -"max_depth"       : Maximum features depth (m)  
        -"min_inliers"     : Minimum visual correspondences to accept a transformation (m)  
        -"inlier_distance" : RANSAC maximum inliers distance (m)  
        -"local_map"       : Local map size: number of unique features to keep track 
        -"odom_info_data"  : Fill odometry info messages with inliers/outliers data.
    	-->
	
	<arg name="wait_for_transform" default="true" />
	<arg name="visual_odometry"         default="false"/>    
  	<arg name="odom_topic"              default="odom"/>         
	
	<group ns="rtabmap">
		<!-- Visual SLAM (robot side) -->
		<node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
			<!--Params-->
			<!--Mandatory for this configuration-->
		      	<param name="subscribe_depth"  type="bool"   value="true"/>
			<param name="subscribe_scan" type="bool" value="false"/>
		      	<param name="depth_cameras"    type="int"    value="2"/>
			<!--@change set correct frame_id-->
			<param name="frame_id"         type="string" value="base_link"/>
			<param name="gen_scan"         type="bool"   value="false"/>
			<param name="wait_for_transform" type="bool" value="$(arg wait_for_transform)"/>
			<param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP-->
			<param name="RGBD/ProximityBySpace"     type="string" value="true"/>
		  	<param name="queue_size" type="int" value="10"/>
			<param name="Grid/FromDepth" type="string" value="true"/>
			<param name="Grid/3D" type="string" value="true"/>
			<param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
			<!--Defaults-->
		  	<param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
		  	<param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
		  	<param name="Optimizer/Slam2D"          type="string" value="true"/>
		  	<param name="Reg/Force3DoF"             type="string" value="true"/>
		  	<param name="Vis/MinInliers"            type="string" value="5"/>
		  	<param name="Vis/InlierDistance"        type="string" value="0.01"/>
		  	<param name="Rtabmap/TimeThr"           type="string" value="700"/>
		  	<param name="Mem/RehearsalSimilarity"   type="string" value="0.45"/>
			
			<!--Remaps-->
			<!--@change Remap to the correct scan topic - although here it is not used, you can see it on rviz-->
			<remap from="scan" to="/hokuyo/scan"/>
			<!--@change Remap to the correct odometry topic-->
			<remap from="odom" to="/rb1/mobile_base_controller/odom"/>
			<!--@change Remap to the correct cameras topics-->
		 	<remap from="rgb0/image"       to="/camera_front/rgb/image_raw"/>
		 	<remap from="depth0/image"     to="/camera_front/depth/image_raw"/>
		 	<remap from="rgb0/camera_info" to="/camera_front/rgb/camera_info"/>
		      	<remap from="rgb1/image"       to="/camera_back/rgb/image_raw"/>
		      	<remap from="depth1/image"     to="/camera_back/depth/image_raw"/>
		      	<remap from="rgb1/camera_info" to="/camera_back/rgb/camera_info"/>

		</node>
	</group>

	<!-- Visualisation RTAB-Map - NEEDS CONFIG ON SOFTWARE -->
	<node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen"/>

	<!-- Visualization RVIZ -->
	<arg name="rviz_cfg"                default="" />
	<node  if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="$(arg rviz_cfg)"/>

</launch>
